
@font-face {
    font-family: 'Infra-Font-Bold';
    src: url('./Assets/infra-font/InfraBold.otf');
}

@font-face {
    font-family: 'Infra-Font-Regular';
    src: url('./Assets/infra-font/InfraRegular.otf');
}

@font-face {
    font-family: 'Infra-Font-Light';
    src: url('./Assets/infra-font/InfraLight.otf');
}

@font-face {
    font-family: 'Infra-Font-Medium';
    src: url('./Assets/infra-font/InfraMedium.otf');
}

@font-face {
    font-family: 'Infra-Font-SemiBold';
    src: url('./Assets/infra-font/InfraSemiBold.otf');
}

@font-face {
    font-family: 'Infra-Font-Thin';
    src: url('./Assets/infra-font/InfraThin.otf');
}

@import "tailwindcss";