/* ==========================================================================
   Reset e Base Styles
   ========================================================================== */

@font-face {
    font-family: 'Infra-Font';
    src: url('./Assets/infra-font/InfraBold.otf'),
    url('./Assets/infra-font/InfraRegular.otf'),
    url('./Assets/infra-font/InfraLight.otf'),
    url('./Assets/infra-font/InfraMedium.otf'),
    url('./Assets/infra-font/InfraSemiBold.otf'),
    url('./Assets/infra-font/InfraThin.otf');

    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    font-family: 'Infra-Font', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    position: relative;

    scrollbar-width: none;
    -ms-overflow-style: none;

    /* background: linear-gradient(rgba(29, 28, 70, 0.95), rgba(29, 28, 70, 0.8)),
    url('./Assets/bg_image.jpg') center top / auto; */
    /* background-image: url('./Assets/bg_image.jpg'); */
    background: linear-gradient(rgba(29, 28, 70, 0.95), rgba(29, 28, 70, 0.8)), url('./Assets/bg_image.jpg') center top / auto;
    background-color: rgba(34, 34, 82, 1.00);
    background-repeat: no-repeat;

}

/* Nascondi scrollbar */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

/* Reset liste */
ul[role='list'], ol[role='list'] {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Accessibilità */
@media (prefers-reduced-motion: reduce) {
    html { scroll-behavior: auto; }
    * { animation-duration: 0.01ms !important; }
}

/* Focus accessibility */
:focus-visible {
    outline: 2px solid rgb(var(--color-accent-purple));
    outline-offset: 0.25rem;
}